<a href="https://colab.research.google.com/github/maronga/Moringa-Wk-4-IP-Submission/blob/main/%22Moringa_Data_Science_Prep_W4_Independent_Python_Project_2021_11_19_John_Maronga_Python_Data_Analysis_Notebook%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Analysis for an electric car-sharing service company

## 1. Importing our Libraries

In [ ]:
# Let's first import the pandas library. 
# We will use this library to perform analysis and manipulation.
# ---
# Hint: pandas as pd
# ---
#
import pandas as pd

In [ ]:
# Let's import the numpy library for performing scientific computations.
# ---
# Hint i.e. numpy as np
# ---
# 
import numpy as np

## 2. Loading Datasets

In [ ]:

#I'll create and print a dataframe from a CSV file.
# ---

df=pd.read_csv('http://bit.ly/autolib_dataset')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## 3. Understanding the data

### Examples

In [ ]:

# Shape returns no. or records/instances and columns/variables
#
df.shape

(5000, 25)

In [ ]:

# Previewing the first few records of the dataframe
# NB: head() will give us the first five instances.
# You can also specify the no. of desired records by passing 
# a no. into the function i.e. head(3).
# ---
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:

# Checking the bottom of the df dataframe 
# NB: tail() gives us the last 5 records
# ---
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [ ]:
df.sample()

                  Address  Cars  Bluecar counter  ...  day  hour  minute
4695  37 quai de Grenelle     0                0  ...    2     8      33

[1 rows x 25 columns]

In [ ]:

# Checking the datatypes of our columns
# ---
# float64 - floating point no.
# object - strings are store as objects
# ---
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [ ]:
#Check for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## 4. Data Cleaning

In [ ]:
#We'll first drop the cars column because it's redundant with the bluecar column
#This is done while also dropping the other columns which are irrelevant in this
#data analysis
df.drop(['Cars','ID','Geo point','Displayed comment','year','month'], axis = 1, inplace = True) 
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

In [ ]:
#Identifying which observations are duplicates in the dataset
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [ ]:
#checking out for null values in the dataset
df.isnull().any

<bound method DataFrame.any of       Address  Bluecar counter  Utilib counter  ...    day   hour  minute
0       False            False           False  ...  False  False   False
1       False            False           False  ...  False  False   False
2       False            False           False  ...  False  False   False
3       False            False           False  ...  False  False   False
4       False            False           False  ...  False  False   False
...       ...              ...             ...  ...    ...    ...     ...
4995    False            False           False  ...  False  False   False
4996    False            False           False  ...  False  False   False
4997    False            False           False  ...  False  False   False
4998    False            False           False  ...  False  False   False
4999    False            False           False  ...  False  False   False

[5000 rows x 19 columns]>

In [ ]:
#Drop missing observation 
df_no_missing = df.dropna()
df_no_missing

Empty DataFrame
Columns: [Address, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [ ]:
#Rename the column name public name to station name for easier readability
#
df.rename(columns={"Public name": "Station"}, inplace=True)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

## 5. Filtering and Sorting

### Blue Car Analysis

In [ ]:
#Inorder to answer the research questions, we will need to filter the data
#The first step is to create a new column where we'll find the difference in the 
#number of blue cars at the station/counter
df['Bluecar_Difference'] = df['Bluecar counter'].diff()
df.head()
#If the row value in the bluecar_difference column is +ve, it means the car was 
#picked and if it's -ve, it means the car was returne

                              Address  ...  Bluecar_Difference
0                 2 Avenue de Suffren  ...                 NaN
1           145 Rue Raymond Losserand  ...                 6.0
2    2 Avenue John Fitzgerald Kennedy  ...                -3.0
3              51 Rue EugÃ¨ne OudinÃ©  ...                 0.0
4  6 avenue de la Porte de Champerret  ...                 0.0

[5 rows x 20 columns]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018
paris = df[df['City'] =='Paris'] 
paris.head()
paris[paris['Bluecar_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#The most popular hour is 3:00 hours

hour
3     49
12    48
10    48
6     46
8     44
21    43
11    42
19    42
15    42
18    40
9     40
0     39
22    38
2     38
1     38
16    37
5     37
23    35
13    33
7     33
17    33
4     31
20    27
14    25
Name: hour, dtype: int64

In [ ]:
# Most popular hour for returning vehicles
paris[paris['Bluecar_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#the most popular hour is 21:00 hours

hour
21    80
16    68
7     64
13    62
5     62
23    61
20    61
3     60
8     59
4     58
18    57
9     57
17    55
19    55
22    55
14    54
12    54
0     52
10    52
2     51
6     50
15    49
11    47
1     43
Name: hour, dtype: int64

In [ ]:
# What station is the most popular overall
#
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok')].groupby('Station')['Station'].count().sort_values(ascending= False)
#paris/porte de Montrouge/8 is the most popular overall

Station
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Station, Length: 518, dtype: int64

In [ ]:
# What station is the most popular at the most popular picking hour?
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 3)].groupby('Station')['Station'].count().sort_values(ascending= False)

Station
Paris/Mortier/15             2
Paris/Julien Lacroix/39      2
Paris/Suffren/161            2
Paris/Quatre septembre/10    2
Paris/Francois 1er/7         2
                            ..
Paris/Pereire/115            1
Paris/PerrÃ©e/18             1
Paris/Plantes/56             1
Paris/PoissonniÃ¨re/64       1
Paris/25 AoÃ»t 1944/8        1
Name: Station, Length: 89, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue cars?
paris[paris['Bluecar_Difference'] > 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75015 is the most popular postal code which belongs to	Paris/Suffren/2 station,
# therefore it's not the same as the most popular station Paris/Porte de Montrouge/8

Postal code
75015    112
75016    110
75017     96
75020     80
75011     71
75013     60
75019     60
75014     54
75018     52
75012     46
75010     33
75008     33
75007     31
75009     20
75005     19
75003     12
75002     11
75006     11
75004      8
75116      4
75001      4
75112      1
Name: Postal code, dtype: int64

In [ ]:
# What postal code is the most popular for picking blue cars at the most popular 
# picking hour
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 3)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75016 is the most popular postal code

Postal code
75016    9
75015    8
75020    8
75012    7
75018    7
75017    7
75011    6
75013    5
75008    5
75006    5
75014    4
75009    4
75007    4
75003    4
75019    3
75004    3
75002    2
75010    2
75116    1
75001    1
Name: Postal code, dtype: int64

### Utilib Analysis

In [ ]:
#Inorder to answer the research questions, we will need to filter the data
#The first step is to create a new column where we'll find the difference in the 
#number of blue cars at the station/counter
df['Utilib_Difference'] = df['Utilib counter'].diff()
df.head()
#If the row value in the bluecar_difference column is +ve, it means the car was 
#picked and if it's -ve, it means the car was returne

                              Address  ...  Utilib_Difference
0                 2 Avenue de Suffren  ...                NaN
1           145 Rue Raymond Losserand  ...                0.0
2    2 Avenue John Fitzgerald Kennedy  ...                0.0
3              51 Rue EugÃ¨ne OudinÃ©  ...                1.0
4  6 avenue de la Porte de Champerret  ...               -1.0

[5 rows x 21 columns]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car 
#(Utilib) in the city of Paris over the month of April 2018
paris = df[df['City'] =='Paris'] 
paris.head()
paris[paris['Utilib_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#The most popular hour is 3:00 hours

hour
6     12
11     9
17     9
8      9
14     8
10     7
21     7
18     7
7      7
15     6
2      5
3      5
5      5
0      5
12     5
13     5
9      4
16     4
22     3
4      3
19     3
20     3
1      3
23     1
Name: hour, dtype: int64

In [ ]:
# Most popular hour for returning vehicles
paris[paris['Utilib_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#the most popular hour is 21:00 hours

hour
19    12
23    10
22    10
14    10
6      9
10     9
5      8
8      8
9      8
3      7
11     7
15     6
16     6
17     6
7      6
20     6
2      6
13     5
4      5
0      5
12     4
1      4
18     3
21     3
Name: hour, dtype: int64

In [ ]:
# What station is the most popular overall
#
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok')].groupby('Station')['Station'].count().sort_values(ascending= False)
#paris/porte de Montrouge/8 is the most popular overall
# The result is similar to the bluecar analysis

Station
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Station, Length: 518, dtype: int64

In [ ]:
# What station is the most popular at the most popular picking hour?
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 6)].groupby('Station')['Station'].count().sort_values(ascending= False)

Station
Paris/Saint-HonorÃ©/123       3
Paris/Marceau/1               2
Paris/Chernoviz/12            2
Paris/Julien Lacroix/39       2
Paris/IÃ©na/24                2
                             ..
Paris/Pirogues de Bercy/44    1
Paris/Plaine/25               1
Paris/Pyramides/12            1
Paris/PyrÃ©nÃ©es/236          1
Paris/Adolphe Yvon/6          1
Name: Station, Length: 92, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Utilib cars?
paris[paris['Utilib_Difference'] > 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75016 is the most popular postal code which belongs to	Paris/Suffren/2 station,
# therefore it's not the same as the most popular station Paris/Porte de Montrouge/8

Postal code
75016    20
75017    18
75015    16
75020    13
75013    12
75014    11
75018     6
75019     5
75010     5
75011     5
75012     4
75009     4
75007     4
75001     3
75008     2
75006     2
75004     2
75002     2
75003     1
Name: Postal code, dtype: int64

In [ ]:
# What postal code is the most popular for picking utilib cars at the most popular 
# picking hour
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 3)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75016 is the most popular postal code

Postal code
75016    9
75015    8
75020    8
75012    7
75018    7
75017    7
75011    6
75013    5
75008    5
75006    5
75014    4
75009    4
75007    4
75003    4
75019    3
75004    3
75002    2
75010    2
75116    1
75001    1
Name: Postal code, dtype: int64

### Utilib 1.4 Analysis

In [ ]:
#Inorder to answer the Utilib 1.4 research questions, we will need to filter the data
#The first step is to create a new column where we'll find the difference in the 
#number of utiiib 1.4 cars at the station/counter
df['Utilib 1.4_Difference'] = df['Utilib 1.4 counter'].diff()
df.head()
#If the row value in the Utilib 1.4_difference column is +ve, it means the ca
#was picked and if it's -ve, it means the car was returned

                              Address  ...  Utilib 1.4_Difference
0                 2 Avenue de Suffren  ...                    NaN
1           145 Rue Raymond Losserand  ...                    0.0
2    2 Avenue John Fitzgerald Kennedy  ...                    2.0
3              51 Rue EugÃ¨ne OudinÃ©  ...                   -2.0
4  6 avenue de la Porte de Champerret  ...                    0.0

[5 rows x 22 columns]

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car 
#(Utilib 1.4) in the city of Paris over the month of April 2018
paris = df[df['City'] =='Paris'] 
paris.head()
paris[paris['Utilib 1.4_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#The most popular hour is 9:00 hours

hour
9     17
17    15
5     15
21    14
22    14
10    13
6     12
15    12
3     12
19    11
16    11
1     11
12    11
20    10
18    10
23     9
11     9
7      9
13     9
8      8
4      8
14     8
0      7
2      6
Name: hour, dtype: int64

In [ ]:
# Most popular hour for returning vehicles
paris[paris['Utilib 1.4_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)
#the most popular hour is 3:00 hours

hour
3     20
4     17
0     16
19    16
8     16
10    16
12    15
14    12
2     12
23    12
16    12
17    12
20    12
21    12
11    12
22    11
7     11
18    11
9     10
5     10
13     8
6      8
15     7
1      7
Name: hour, dtype: int64

In [ ]:
# What station is the most popular overall
#
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok')].groupby('Station')['Station'].count().sort_values(ascending= False)
#paris/porte de Montrouge/8 is the most popular overall

Station
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Station, Length: 518, dtype: int64

In [ ]:
# What station is the most popular at the most popular picking hour?
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 3)].groupby('Station')['Station'].count().sort_values(ascending= False)

Station
Paris/Mortier/15             2
Paris/Julien Lacroix/39      2
Paris/Suffren/161            2
Paris/Quatre septembre/10    2
Paris/Francois 1er/7         2
                            ..
Paris/Pereire/115            1
Paris/PerrÃ©e/18             1
Paris/Plantes/56             1
Paris/PoissonniÃ¨re/64       1
Paris/25 AoÃ»t 1944/8        1
Name: Station, Length: 89, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Utilib 1.4 cars?
paris[paris['Utilib 1.4_Difference'] > 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75017 is the most popular postal code which belongs to	Paris/Suffren/2 station,
# therefore it's not the same as the most popular station Paris/Porte de Montrouge/8

Postal code
75017    33
75019    28
75015    27
75020    20
75018    19
75016    19
75014    19
75012    16
75013    13
75008    12
75010    10
75011    10
75009     5
75007     5
75003     5
75004     4
75002     4
75001     4
75005     4
75006     3
75112     1
Name: Postal code, dtype: int64

In [ ]:
# What postal code is the most popular for picking Utilib 1.4 cars at the most popular 
# picking hour
paris[(paris['Kind'] == 'STATION') & (paris['Status'] == 'ok') & (paris['hour'] == 3)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)
#75016 is the most popular postal code

Postal code
75016    9
75015    8
75020    8
75012    7
75018    7
75017    7
75011    6
75013    5
75008    5
75006    5
75014    4
75009    4
75007    4
75003    4
75019    3
75004    3
75002    2
75010    2
75116    1
75001    1
Name: Postal code, dtype: int64